extends layout

block content

  hr
  h5= `Build Information`

  table(class="table table-striped")
    tbody
    tr
        td= `Owner`
        td= build.owner
    tr
        td= `Repository`
        td= build.repository
    tr
        td= `Build Key`
        td= build.build_key
    tr
        td= `Build`
        td= build.build
    tr
        td= `Status`
        td= build.status

    tr
        td= `Started At`
        td= build.started_at

    tr
        td= `Completed At`
        td= build.completed_at

    tr
      td= `Duration`
      td= prettyMilliseconds(duration)

  hr
  h5= `Tasks`

  table(class="table table-striped")
    thead
      tr
        th= `Task ID`
        th= `Task Title`
        th= `Status`
        th= `Duration`
    tbody
      each task, i in tasks
        tr
          td
            a(href=`/monitor/taskDetails?taskID=` + task.task_id)= task.task
          td
            a(href=`/monitor/taskDetails?taskID=` + task.task_id)= task.title
          td
            a(href=`/monitor/taskDetails?taskID=` + task.task_id)= task.status
          td
            a(href=`/monitor/taskDetails?taskID=` + task.task_id)= prettyMilliseconds(task.duration)
          td
            a(href=`/monitor/requeueTask?taskID=` + task.task_id) Requeue