extends layout

block content

  hr
  h5= `Task Information`

  table(class="table table-striped")
    tbody
    tr
        td= `Owner`
        td= build.owner
    tr
        td= `Repository`
        td= build.repository
    tr
        td= `Build Key`
        td= build.build_key
    tr
        td= `Build`
        td= build.build

    tr
        td= `Task`
        td= task.task
    tr
        td= `Conclusion`
        td= task.conclusion
    tr
        td= `Node`
        td= task.node

  if taskDetails.details.result
    h5 Task Result:
    table(class="table table-striped table-sm")
      tbody
        tr
          td Conclusion
          td= taskDetails.details.result.conclusion
        tr
          td Title
          td= taskDetails.details.result.title
        tr
          td Summary
          td= taskDetails.details.result.summary
        tr
          td Text
          td= taskDetails.details.result.text